.container {
  margin-top: 20px;
  font-family: sans-serif;
}

h1 {
  text-align: center;
}

form {
  text-align: center;
}

.data-field {
  margin-bottom: 0.5em;
}

input {
  padding: 0.6em;
  border: 2px solid rgb(177, 189, 233);
  border-radius: 5px;
  vertical-align: middle;
  font-size: 14px;
}

input:focus {
  outline: 0;
  border-color: #0e364d;
}

label {
  text-align: right;
  display: inline-block;
  width: 6em;
  margin: 0 1em 0 0;
}

button {
  padding: 0.75em 1em;
  border: none;
  background-color: rgb(27, 111, 189);
  border-radius: 4px;
  font-size: 100%;
  color: rgb(255, 255, 255);
  margin: 0.5em auto;
}

button:focus,
button:hover {
  background-color: rgb(88, 166, 240);
}

button:active {
  background-color: rgb(177, 189, 233);
}

#status {
  margin: 0.5em auto;
  text-align: center;
  color: rgb(13, 73, 32);
}