<!DOCTYPE html>
<html>
  <head>
    <title>Office Hours</title>
    <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='styles.css') }}">
  </head>
  <body>
    <div class='container'>
      <h1>Office Hours</h1>
      <form method='post' action="{{ url_for('get_or_create_room') }}" id='setup-form' name='setup-form'>
        <div class='data-field'>
          <label for='identity'>Name</label>
          <input type='text' name='identity' id='identity' required>
        </div>
        <div class='data-field'>
          <label for='phone'>Phone</label>
          <input type='text' name='phone' id='phone' required>
        </div>
        <div class='data-field'>
          <label for='room_name'>Room Name</label>
          <input type='text' name='room_name' id='room_name' required>
        </div>
        <button type='submit' id='button-create'>Create Office Hours Chat</button>
      </form>
      <section id='status'>
        <div id='status-message'>
          {% if status and status.video_room %}
              Success! Office hours room: {{status.video_room.name}} ✅
          {% endif %}
        </div>
      </section>
    </div>
  </body>
</html>